<html>
  <head>
  </head>
  <body style='margin-top:0;margin-left:300;margin-right:300;'>



    <center><font face = "Verdana" size = "9">SFPD Dispatch Data Analysis</font></center>
    <center><h1>Rishi Kalluri</h1></center>
    <font face = "Times New Roman" size = "5.5">This is my Heroku web application that shows the analysis
      performed on the SFPD Dispatch dataset. </font>

    <span style="display:block; height: 30;"></span>


    <center><img src="{{url_for('static', filename='pieChart.png')}}" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);" ></center>

    <span style="display:block; height: 50;"></span>

    <center><img src="{{url_for('static', filename='barGraph.png')}}" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);" ></center>

    <span style="display:block; height: 50;"></span>

    <center><img src="{{url_for('static', filename='lineGraph.png')}}" style="-webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);" ></center>

  </body>

</html>
